<body>
  <!-- Title -->
  <section>
   <div class="profile-2">
    
   <div class="text-container">
     <div class="animate__animated animate__fadeInDown">
        <p class="animate__animated animate__pulse">Hello,</p>
        <p class="animate__animated animate__pulse">I'M ADELMO</p>
        
        <p class="animate__animated animate__pulse">I'm a Gamer, TXTER,<br>& Developer</p>
        
    </div>
  </div>
  
  <div class="animate__animated animate__fadeInRightBig"> 
     <img class="animate__animated animate__flash"id="el-salvador" src="../../../assets/El_Salvador_Web.jpg">
     
     <div class="animate__animated animate__fadeIn">
      <img class="animate__animated animate__pulse" id="profile" src="../../../assets/Adelmo.jpg">
      
   </div>
    </div>
   <!-- About Me Section -->
    
   <div class="animate__animated animate__fadeInRightBig">
<div class="animate__animated animate__headShake about-container">
  
    <img class="animate__animated animate__pulse"src="../../../assets/kirby.png">
    <div class="about-text ">
        <p>About Me</p>
        <p>Gamer & Developer</p>
        <p>Hello my name is Adelmo Villanueva and I'm from El Salvador. In my free time I like to play video games and play with friends. Some video games that I play are Fortnite, COD, and GTA V. 
          Also, I like to watch movies or shows with action and intensity.
          I would like to study aeronautical engineering, astronomy, or software development. My overall goal is to become a leader and help others to learn
          about themselves so they can create change in the world and make it a better place for others.</p>
      </div>
      <img class="animate__animated animate__pulse"id="hog-rider" src="../../../assets/74467_clash-royale-hog-rider-png.png">
    </div>
</div>
  </div> 
  </section>
  <!-- Services Section -->
<div class="services">
<div class="services-text">
<p>What calls out to me?</p>
<p>My Hobbies</p>
<p>Being a TXTER from Teens Exploring Technology, I have completed the SCLA program and created an app using Angular, Express, Node, and MongoDB to bring my ideas to life. I enjoy creating different projects and apps using HTML, CSS, and Javascript.
  Through the use of these programs and my experience with TXT, I have been able to grow my passion for app development and technology which ties into my passion for gaming.
  If you can't already tell, I am very passionate about videogames. I like helping others with coding and creating their own projects. If you want to collaborate on a project or if you just simply want to network contact me.</p>
</div>

<img class="animate__animated animate__pulse"id="blue-king" src="../../../assets/Clash-royale.png">
<img class="animate__animated animate__pulse"id="red-king" src="../../../assets/Clash-Royale-Transparent-PNG.png">
<img class="animate__animated animate__heartBeat"id="fortnite" src="../../../assets/controller-5404616_960_720.png">
<div class="box-container">
  <div class="box-1">
    <span>1</span>
    <p class="heading">Gaming</p>
    <p>My first hobby is playing video games. I enjoy games like Clash of Clans and Clash Royale.
      Now I enjoy watching and playing video games with my friends on PS4 and on PC.
    </p>
  </div>
  <div class="box-2">
    <span>2</span>
    <p class="heading">Soccer</p>
    <p>My second hobby is playing soccer. Soccer is my favorite sport.
      Most of my memories from my childhood are from playing soccer with my friends and watching soccer.
    </p>
  </div>
  <div class="box-3">
    <span>3</span>
    <p class="heading">Building</p>
    <p>My third hobby is building things including websites, and casually the Playstation Logo in minecraft. 
       I like solving puzzles or problems that I face when building ideas and innovating.
    </p>
  </div>
   <!--social-attach-bar-->
 <div class="social">
  <a href="https://www.facebook.com/gabriel.conde.121772"target="_blank"><i class="fab fa-facebook-f"></i></a>
  <a href="#"target="_blank"><i class="fab fa-google"></i></a>
  <a href="https://www.instagram.com/gabe_conde_._/"target="_blank"><i class="fab fa-instagram"></i></a>
  <a href="https://www.linkedin.com/in/gabriel-conde-0b67a3207/"target="_blank"><i class="fab fa-linkedin"></i></a>
  </div>
  
</div>
</div>


<div class="contact-me">
  <p>DO YOU WANT TO COLLABORATE ON A PROJECT?</p>
  <a id="contact"href="https://www.linkedin.com/in/gabriel-conde-0b67a3207/"target="_blank">CONTACT ME</a>
</div>	
  <!--footer--------------->
  <footer>
    <!--heading-->
   <p>Let's Network</p>
    <!--paragraph-->
    <p>Go to my social media and chat with me!</p>
    <!--social-->
   <div class="social-icons">
   <a href="#"><i class="fab fa-facebook-f"></i></a>
   <a href="#"><i class="fab fa-twitter"></i></a>
   <a href="#"><i class="fab fa-instagram"></i></a>
   <a href="#"><i class="fab fa-youtube"></i></a>
   </div>
    <!--copyright-->
    <p class="copyright">Copyright by Adelmo Villanueva</p>
 </footer>
 <div class="social">
  <a href="https://twitter.com/Adelmo_CR/"target="_blank"><i class="fab fa-twitter"></i></a>
  <a href="https://exploringtech.org/home"target="_blank"><i class="fab fa-google"></i></a>
  <a href="https://www.instagram.com/adelmo_cr/"target="_blank"><i class="fab fa-instagram"></i></a>
  <a href="https://www.linkedin.com/in/adelmovillanueva/"target="_blank"><i class="fab fa-linkedin"></i></a>
  </div>
</body>

