<body>
  <!-- Title -->
  <section>
   <div class="profile-2">
    
   <div class="text-container">
     <div class="animate__animated animate__fadeInDown">
        <p class="animate__animated animate__pulse">Hello,</p>
        <p class="animate__animated animate__pulse">I'M GABRIEL</p>
        
        <p class="animate__animated animate__pulse">I'm a Guitarist, TXTER,<br>& Designer</p>
        
    </div>
  </div>
  
  <div class="animate__animated animate__fadeInRightBig"> 
     <img class="animate__animated animate__flash"id="santana" src="https://cdn.wallpapersafari.com/90/43/dUIHJt.jpg">
     <div class="animate__animated animate__fadeIn">
      <img class="animate__animated animate__pulse" id="profile" src="../../assets/IMG_2420.jpg">
   </div>
    </div>
   <!-- About Me Section -->
    
   <div class="animate__animated animate__fadeInRightBig">
<div class="animate__animated animate__headShake about-container">
  
    <img src="https://cdn.shopify.com/s/files/1/0106/1185/1345/t/3/assets/dpo_custom_option_94176_apex-grid-tile-legends-octane.png.adapt.crop16x9.png?v=1590999624">
    <div class="about-text ">
        <p>About Me</p>
        <p>Musician & Website Designer</p>
        <p>I enjoy guitar and playing as a percussionist with the Youth Orchestra of Los Angeles. I also love creating websites, promotional videos, and music of my own.
           My passion is to help solve problems in our communities through technology and entrepreneurship. My personal goal is to create change in my community of Los Angeles and lead the future generation. I truly am inspired by those around me and enjoy learning new perspectives and build
           off other people's skills to create projects close to my heart.</p>
      </div>
    </div>
</div>
  </div> 
  </section>
  <!-- Services Section -->
<div class="services">
<div class="services-text">
<p>Services</p>
<p>Services required</p>
<p>I enjoy creating different projects that align with my hobbies like music and coding. I do covers of my most favorite songs that are tied
  into the latina genre. My Oaxacan Culture is very important to me because I get to experience traditions such as danza and music.
  In Los Angeles, the community of Oaxaca is vast and is all over the city. When I'm by myself I practice guitar or
  with my snare drum. I enjoy telling stories and helping
  others create their own ways to display theirs.If you want to collaborate on a project or if you just simply want to network contact me.</p>
</div>

<img class="animate__animated animate__pulse"id="brown-guitar" src="../../assets/Brown-guitar.png">
<div class="box-container">
  <div class="box-1">
    <span>1</span>
    <p class="heading">Web Design</p>
    <p>If you want me to design a website for you contact me. I am familiar with programs like Figma to design wireframes and logos.
      I also have experience with using Wix for websites.
    </p>
  </div>
  <div class="box-2">
    <span>2</span>
    <p class="heading">Video Editing</p>
    <p>If you want me to edit or create a video for you contact me. I am familiar with programs like IMovie to create slideshows or other
      types of videos. I enjoy editing videos that I can later use for my music covers.
    </p>
  </div>
  <div class="box-3">
    <span>3</span>
    <p class="heading">Guitar</p>
    <p>If you want me to play for gig reach out to me. I love playing corridos, church music, and pop music for live shows.
      I own a acoustic guitar, electric guitar, and a bass guitar. I am an intermediate player.
    </p>
  </div>
    <!--if you have any project in your mind contact me-->

   <!--social-attach-bar-->
 <div class="social">
  <a href="https://www.facebook.com/gabriel.conde.121772"target="_blank"><i class="fab fa-facebook-f"></i></a>
  <a href="#"target="_blank"><i class="fab fa-google"></i></a>
  <a href="https://www.instagram.com/gabe_conde_._/"target="_blank"><i class="fab fa-instagram"></i></a>
  <a href="https://www.linkedin.com/in/gabriel-conde-0b67a3207/"target="_blank"><i class="fab fa-linkedin"></i></a>
  </div>
  
</div>
</div>
<div class="contact-me">
  <p>DO YOU WANT TO COLLABORATE ON A PROJECT?</p>
  <a id="contact"href="https://www.linkedin.com/in/gabriel-conde-0b67a3207/"target="_blank">CONTACT ME</a>
</div>	
  <!--footer--------------->
  <footer>
    <!--heading-->
   <p>Let's Network</p>
    <!--paragraph-->
    <p>Go to my social media and chat with me!</p>
    <!--social-->
   <div class="social-icons">
   <a href="#"><i class="fab fa-facebook-f"></i></a>
   <a href="#"><i class="fab fa-twitter"></i></a>
   <a href="#"><i class="fab fa-instagram"></i></a>
   <a href="#"><i class="fab fa-youtube"></i></a>
   </div>
    <!--copyright-->
    <p class="copyright">Copyright by Gabriel Conde</p>
 </footer>
</body>