/* You can add global styles to this file, and also import other style files */
@import  '~bootstrap/dist/css/bootstrap.min.css';

  #guitar{
    background-image: url(./assets/guitar.jpg);
    background-size: 250%;
    background-position:82%;
  }
  #minecraft{
    background-image: url(./assets/0fe20042_0bb8_4781_82f4_7130f928b021.0.jpg);
    background-size: 380px;;
    background-position:42%;
  }

#title{
    font-size: 37px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}
body{
  background-color:rgb(65, 65, 225);
  background-repeat: no-repeat;
}
